:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    height: 2349px;
    color: var(--primary-text-color);
    background-color: var(-primary-background-color);
}
.list {
    list-style: none;
}
.page-header {
    height: 80px;
    left: 0px;
    top: 0px;
}

 /* < !--Logo--> */
.logo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin: 24px, 93px, 25px, 215px;
}

.logo-end {
    color: var(--title-text-color);
}
/* < !--Navigation--> */
.nav-list {
    width: 294px;
    height: 16px;
    left: 453px;
    top: 32px;
    color: var(--primary-text-color);
}
.nav-list .studio.current,
.nav-list .portfolio.current,
.nav-list .contacts.current {
    color: var(--accent-color);
}



.studio:hover, :focus,
.portfolio:hover, :focus,
.contacts:hover, :focus, 
.email:hover, :focus,
.telnumber:hover, :focus {
    color: var(--accent-color);
}


/* Шапка  */

.title {
    height: 600px;
    margin-top: 80px;
    margin-bottom: 1669px
    background-color: #2F303A;
}

.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: #FFFFFF;
    background-color: #2F303A;
}
/* button */
.order-service {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/* Страница Портфолио */

.filters {}

.filters.button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}

.filters.button:hover, :focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}